@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Strait&display=swap');

:root{
  --primary-color: green;
  --secondary-color: blue;
  --white: #fff;
  --black: black;
  --padding: 8px;
  --margin: 8px;
}
*, body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Strait', sans-serif;
}

a {
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
img{
  width: 100%;
  height: auto;
}
.space{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*============
Nav Bar 
============*/

.nav_bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: var(--primary-color);
  padding: var(--padding);
}
.menu{
  min-width: 50%;
}
.menu li a{
  color: var(--white) !important;
}

.nav_items img{
  max-width: 180px;
  height: auto;
  aspect-ratio: 9/3;
  mix-blend-mode: color-burn;
  color: #fff !important;
}

/*================
Nav Bar End 
==================*/
.footer{
  background: var(--secondary-color);
  color: var(--white);
  padding: var(--padding);
}


/* Responsive Mode */

@media screen and (max-width: 992px) {
  .nav_bar{
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 768px) {
  
}
@media screen and (max-width: 576px) {
  
}